.App {
  text-align: center;
  margin-top: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.data-headings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(120, 111, 179);
  margin: auto;
  margin-top: 2rem;
  padding: .6rem;
  max-width: 30rem;
  list-style-type: none;
}

.user-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(147, 137, 216);
  margin: auto;
  margin-top: .5rem;
  max-width: 30rem;
  list-style-type: none;
}

.user-card p {
  margin: 0.5rem;
}
